<div *ngIf="current">
  <div>
    <div fxFlex="55%" class="mat-title no-margin">{{current.city}}, {{current.country}} </div>
    <div fxFlex class="right mat-subheading-2 no-margin">{{current.date | date:'EEEE MMM d'}}{{getOrdinal(current.date)}}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="55%">
      <img style="zoom: 175%" [src]='current.image'>
    </div>
    <div fxFlex class="right no-margin">
      <p fxFlex class="mat-display-3">{{current.temperature | number:'1.0-0'}}
        <span class="mat-display-1 unit">°F</span>
      </p>
    </div>
  </div>
  <div fxLayoutAlign="center" class="mat-caption">
    {{current.description}}
  </div>
</div>
